<div class="signup-form">
    
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="username" placeholder="First Name" required="required"  [(ngModel)]="firstName">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="Last Name" required="required" [(ngModel)]="lastName">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="User Name" required="required" [(ngModel)]="username">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="text" class="form-control" name="password" placeholder="Password" required="required" [(ngModel)]="password">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required" [(ngModel)]="password">
			</div>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" (click)="onRegister()">Sign Up</button>
        </div>
	<div class="text-center">Already have an account? <a href="#/auth/login"><button type="submit" class="btn btn-primary btn-sm">Login</button></a></div>
</div>



<!-- <input type="text"
       placeholder="first name"
       [(ngModel)]="firstName">
<input type="text"
       placeholder="last name"
       [(ngModel)]="lastName">
<input type="text"
       placeholder="username"
       [(ngModel)]="username">
<input type="text"
       placeholder="password"
       [(ngModel)]="password">

<button (click)="onRegister()">Register</button> -->